.active {
  font-weight: bold;
  color: #149eca;
  background-color: #283542;
  padding: 0.375rem 0.75rem;
  border-radius: 9999px;
}
aside {
  .active {
    display: block;
    border-radius: 0px 9999px 9999px 0px;
  }
}
