* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
}

h1 {
  margin: 0;
  margin-bottom: 30px;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0px;
  font-weight: bold;
  li {
    font-size: 1.1em;
    margin: 20px 0px;
    code {
      background-color: #f0f0f0;
      padding: 2px 6px;
      border-radius: 4px;
      color: blue;
      cursor: pointer;
      font-weight: bold;
    }
    file {
      background-color: #f0f0f0;
      padding: 2px 6px;
      border-radius: 4px;
      color: firebrick;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
