nav {
  background-color: #282c34;
  color: white;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  padding: 2rem;
  border-radius: 50%;
  text-transform: capitalize;
  font-size: 2rem;
  a {
  }
}
