nav {
  background-color: #823f61;
  color: white;
  display: flex;
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
  margin: 0px 30px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      text-decoration: underline;
    }
  }
  button {
    width: 100px;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    &:hover {
      background-color: grey;
      cursor: pointer;
    }
  }
}
