.input-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    background-color: #707070;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 10px;
    &:focus {
      outline: none;
    }
  }
  label {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.loginButton {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: #505050;
    transition: 0.1s;
  }
}
